{% extends "bootstrap/base.html"%}

{% block title %}人员管理{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">显示</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">人员管理</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <input type="hidden" name="hidPId" id="hidPId">
        <h4 class="modal-title">确定删除</h4>
      </div>
      <div class="modal-body">
        <p>是否删除此用户,此行为不可恢复哦 /(ㄒoㄒ)/~~</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" onclick="DeletePerson($('#hidPId').val())">删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="http://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<script type="text/javascript">
    function ShowModal(id){
        $('#myModal').modal('show')
        $('#myModal').find("#hidPId").val(id)
        
    }
    function DeletePerson(id){

        url = $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}+'/delete_person';
        $.ajax({
            url:url,
            data:{ID:id},
            dataType:'json',
            type:'POST',
            success:function(data){
alert(data.returnStr)
if(data.returnStr.indexOf('成功')!=-1)
{
    window.location.reload()
}
            },
            error:function(data){
alert('~~~~(>_<)~~~~ something error')
            }

        })
    }
</script>
{% endblock%}